.react-filters label {
  padding-left: 17px;
}

.react-filters label select {
  margin-left: 5px;
}

.react-filters label input {
  margin-left: 5px;
}

.react-filters label:first-child {
  padding-left: 0px;
}
